.Card {
    height: auto;
    width: 100%;
    /*
    background-image: url("../../images/min.jpg") ;
    background-size:contain;
    border-radius: 0%;
    background-position-y: bottom;
    overflow: hidden;
    */
    background-color: #242424;
}

.Header{
    width: 100%;
    max-width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    background-size: cover;
    border-radius: 0%;
}

