

.s1-intro{
    overflow: auto;
    background-color: #1f2833;
}

.intro-title{
    display: flex;
    justify-content: center;
    color:#66fcf1;
}

.intro-container{
    width: 100%;
    margin: 0 auto;
}

.intro-summary-wrapper{
    display: grid;
    grid-area: intro-wrapper;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color:#c5c6c7;
}


