:root {
    --main-bg-color: #1f2833;
    --main-text-color: #c5c6c7;
    --highlight-text-color: #66fcf1;
}

.s1-intro{
    padding-top: 55px;
    overflow: auto;
    background-color: var(--main-bg-color);
    background-color: #99aab5;

}

.intro-title{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
}

.intro-container{
    width: 1200px;
    margin: 0 auto;
}

.intro-summary-wrapper{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--main-text-color);
}

.cover-image{
    width: 100%;
    height: 75vh;
    object-fit: cover;
}


@media screen and (max-width: 800px){
    .intro-container{
        width:95%;
    }
    .left-summary, .right-summary{
        font-size: 25px;
        width:100px;
    }
  }


  /*

  .left-summary{
    grid-area: left-summary;
    display: block;
    width: 320px;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: var(--main-text-color);
}

.right-summary{
    grid-area: right-summary;
    display: block;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    color: var(--main-text-color);
}

.separator{
    grid-area: separator;
    display: block;
    margin: 0 auto;
    width: 3px;
    background-color: var(--highlight-text-color);
}
*/