/*
  created landscape and portrait versions of box, but it was unsuccessful. remove wheneever

  NOTE: I think I just want to get rid of the flexing
*/

.s3-projects{
  overflow:auto;
}

.title{
  display: flex;
  justify-content: center;
}

.project-container{
  width: 1200px;
  margin: 0 auto;
}

.project-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap:20px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px; 
}

.project{
  -webkit-box-shadow: 20px 0px 48px -28px rgba(0,0,0,0.75);
  -moz-box-shadow: 20px 0px 48px -28px rgba(0,0,0,0.75);
  box-shadow: 20px 0px 48px -28px rgba(0,0,0,0.75);
}

.thumbnail{
  display: block;
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.project-preview{
  background-color: #fff;
  padding: 15px;
}

.post-title{
  color: black;
}


@media screen and (max-width: 1200px){
  .project-container{
    width: 95%;
  }
}

@media screen and (max-width: 800px){
  .project-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #instapix{
    height: 275px;
  }
}



  /*
  
  This would make it so the nav-wrapper takes two spaces. will need to give classes
  a grid-area name.

  grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column' 'right-column'
  ;
  
  
  Adds the hover effect 
     flex: flex-grow, flex-shrink, flex-basis 
  
  .boxPortrait:hover { flex: 1 1 20%; }
  .boxPortrait:hover > img {
    width: 100%;
    height: 100% - 10vh;
  }
  
  .boxLandscape:hover { flex: 1 1 20%; }

  .boxLandscape:hover > img {
    width: 100%;
    height: 100% - 10vh;
  }
  
  
  
  .header{
  background-color:#242424;
  margin-top: -50px;
  height: 95vh;
  overflow: hidden;

}

/* Holds the entire card 
.rectangle {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 10vh;
}



.boxLandscape {
  flex: 1;
  overflow: hidden;
  transition: .6s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.3);
  line-height: 5vh;
  height: 68vh
}

.boxPortrait {
  flex: 1;
  overflow: hidden;
  transition: .6s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.3);
  line-height: 5vh;
  height: 68vh
}

/* Effects the image 
.boxPortrait > img {
  width: 100%;
  height: 45%;
  object-fit: contain; 
  transition: .6s;
}
.boxLandscape > img {
  width: 100%;
  /*height: calc(100% - 10vh);
  height: 45%;
  object-fit: contain; 
  transition: .6s;
}

/* Holds the text 
.boxPortrait > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

/* Holds the text 
.boxLandscape > span{
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}*/
   