:root {
    --main-bg-color: #1f2833;
    --main-text-color: #c5c6c7;
    --hightlight-text-color: #66fcf1;
}

.s0-nav{
    overflow:auto;
}

.nav-container{
    width: 100%;
    margin: 0 auto; 
}

.nav-wrapper{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
}

#nav-links{
    margin: 0;
    padding: 10px;
}

#nav-links li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.nav-name {
    padding: 10px;
    color: var(--hightlight-text-color);
}

a {
    color: var(--hightlight-text-color);
}
